# misc
NODE_ENV=dev

# app
APP_NAME="YABO: Yet Another Bff Option"
APP_LOG_LEVEL=debug
APP_PORT=8888
APP_PREFIX=/api

APP_USER_HEADER=
APP_ADMIN_LIST=
APP_MANAGER_LIST=

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=yabo

